fastapi
uvicorn
gunicorn
python-dotenv
python-multipart
pydantic

langchain
langchain-community
langchain-huggingface
langchain-ollama

chromadb
sentence-transformers

pdfplumber
pillow
pytesseract
langchain-groq
